web/WEB-INF/wsdl/localhost_8080/CRUD-Simple/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Actualizar" type="tns:Actualizar"/>

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse"/>

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarClave" type="tns:listarClave"/>

<xs:element name="listarClaveResponse" type="tns:listarClaveResponse"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="Categoria" type="xs:string" minOccurs="0"/>
<xs:element name="Stock" type="xs:int"/>
<xs:element name="Precio" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="Clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="stock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="Clave" type="xs:int"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="Categoria" type="xs:string" minOccurs="0"/>
<xs:element name="Stock" type="xs:int"/>
<xs:element name="Precio" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClave">
<xs:sequence>
<xs:element name="Clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClaveResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>